section {
    margin: 100px auto;
    width: 600px;
    height: auto;
    border: 1px solid black;
    text-align: center;
}
h1 {
    margin: 18px auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(229, 133, 133);
}
h2 {
    margin: 18px auto;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(229, 133, 133);
}
p {
    margin: 0 40px 20px 40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(131, 131, 238);
}