* {
    margin: 0;
    padding: 0;
}
section {
    margin: 100px auto;
    width: 600px;
    height: auto;
    border: 1px solid black;
    text-align: center;
}
h1 {
    margin: 18px auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(229, 133, 133);
}
h2 {
    margin: 18px auto;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(229, 133, 133);
}
p {
    margin: 0 40px 20px 40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(131, 131, 238);
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 50px;
    background-color: rgb(67, 67, 146);    
}
.footer__p {
    color: rgb(224, 208, 208);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}